#kino-progress-bar {
    background: rgb(239 246 255);
    border-radius: 0.375rem;
    border: solid #e5e7eb;
    height: 2rem;
    position: relative;
}

#kino-progress-bar-color {
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
}

#kino-progress-bar-text {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
}
